<style>
  .navbar-nav{
    font-size: 0.8em;
  }
</style>

<nav class="navbar navbar-expand-lg navbar-dark ">
    <a class="navbar-brand" href="/"><img src="/images/onix_logo_branco.png"></a>
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li id="promoções" class="btn-group">
          <a  class="nav-link" href="/promotions"> <i class="fas fa-percentage"></i> Promoções </a>
        </li>
        <li id="produtos" class="btn-group">
          <a class="nav-link" href="/"><i class="fas fa-dolly-flatbed"></i> Produtos</a>
        </li> 
        <li id="dicas" class="btn-group">
          <a style="color: rgb(227, 255, 65);" class="nav-link" href="/tips"><i class="far fa-lightbulb"></i> Dicas da monitoria</a>
        </li>
        <li id="pcredito" class="btn-group">
          <a class="nav-link" href="/politicadecredito"><i class="fas fa-search-dollar"></i> Politica de Crédito</a>
        </li>

        <li id="login" class="btn-group ">
          <a class="nav-link" href="/login"><i class="fas fa-key"></i></a>
        </li>
        
      </ul>     
    </div>    
  </nav>

  <script>
    function active(){
      if(window.location.href == "http://54.207.207.252:3000/login" || window.location.href == "http://54.207.207.252:3000/authenticate"){

        document.getElementById("login").className = "nav-item active";
        document.getElementById("produtos").className = "nav-item";
        document.getElementById("dicas").className = "nav-item";
        document.getElementById("pcredito").className = "nav-item";
        document.getElementById("promoções").className = "nav-item";
        console.log(window.location.href)

      }else if(window.location.href == "http://54.207.207.252:3000/tips" || window.location.href == "54.207.207.252:3000/tips"){

        document.getElementById("login").className = "nav-item";
        document.getElementById("produtos").className = "nav-item";
        document.getElementById("dicas").className = "nav-item active";
        document.getElementById("pcredito").className = "nav-item";
        document.getElementById("promoções").className = "nav-item";
        console.log(window.location.href)

      }else if(window.location.href == "http://54.207.207.252:3000/politicadecredito" || window.location.href == "54.207.207.252:3000/politicadecredito"){

        document.getElementById("login").className = "nav-item";
        document.getElementById("produtos").className = "nav-item";
        document.getElementById("dicas").className = "nav-item";
        document.getElementById("pcredito").className = "nav-item active";
        document.getElementById("promoções").className = "nav-item";
        console.log(window.location.href)

      }else if(window.location.href == "http://54.207.207.252:3000/promotions" || window.location.href == "54.207.207.252:3000/promotions"){

        document.getElementById("login").className = "nav-item";
        document.getElementById("produtos").className = "nav-item";
        document.getElementById("dicas").className = "nav-item";
        document.getElementById("pcredito").className = "nav-item";
        document.getElementById("promoções").className = "nav-item active";
        console.log(window.location.href)

      }else{
        document.getElementById("login").className = "nav-item";
        document.getElementById("produtos").className = "nav-item active";
        document.getElementById("dicas").className = "nav-item";
        document.getElementById("pcredito").className = "nav-item";
        document.getElementById("promoções").className = "nav-item";
        console.log(window.location.href)
      }
    }
     

    window.onload = active();
    
  </script>
