<nav class="navbar navbar-expand-lg navbar-dark navbar-info ">
    <a class="navbar-brand" href="/admin/items"><img src="/../../images/onix_logo_branco.png"></a><span style="color: white; font-weight: bold;"><%= adm.name%></span>
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="btn-group">
          <button type="button" class="btn  dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-chart-line"></i> Monitoria
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item"  href="/admin/monitoring/glossario">Glossário</a>
            <a class="dropdown-item"  href="/admin/monitorings">Lista de Monitorias</a>
            <a class="dropdown-item"  href="/admin/monitoring/reports">Relatórios</a>
            <a class="dropdown-item" href="/admin/monitoring/new">Nova Monitoria</a> 
          </div>
        </li>
        <li class="btn-group">
          <button type="button" class="btn  dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-address-card"></i> Vendedores
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item"  href="/admin/sellers">Listar Todos</a>
            <a class="dropdown-item"  href="/admin/seller/new">Cadastrar Vendedor</a>            
          </div>
        </li>    
        <li class="btn-group">
          <button type="button" class="btn  dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-dolly-flatbed"></i> Produtos
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item"  href="/admin/items">Listar Todos</a>
            <a class="dropdown-item" href="/admin/item/new">Cadastrar Item</a> 
          </div>
        </li>
        <li class="btn-group">
          <button type="button" class="btn  dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-percentage"></i> Promoções
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item"  href="/admin/promotions">Listar Promoções</a>
            <a class="dropdown-item"  href="/admin/promotion/new">Nova Promoção</a>            
          </div>
        </li>     
        <li class="btn-group">
          <button type="button" class="btn  dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-user"></i> Usuario
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item disabled" href="#">Perfil</a>
            <a class="dropdown-item" href="/logout"><i class="fas fa-sign-out-alt"></i></a>            
          </div>
        </li>
      </ul>     
    </div>   
  </nav> 