<!DOCTYPE html>
<html lang="pt-br">
    <%- include ("partials/head.ejs"); %>
<link rel="stylesheet" type="text/css" href="/css/items-index.css">
<style>
    .processos li{
        list-style-type: disc;
        font-size: 1.2em;
        margin-bottom: 5px;
    }
    .titulo{
        text-align: center;
        margin-top: 10px;
        margin-bottom: 5px;
    }
   
</style>
<body>
    <%- include ("partials/header.ejs"); %>

	<div class="limiter">
		<div class="container-table100">			
			<div class="wrap-table100">

                <div class="jumbotron jumbotron-fluid">
                    <div class="container">
                        <h1 class="mb-3">Politica de Crédito JMOnix</h1>
                       
                        <div class="container" style="padding: 10px;">
                                                       
                            <hr><br>
                            <h3 class="mb-4">Processos que derrubam uma venda</h3>
                            <ul class="processos">
                                <li>
                                    Somente um telefone no cadastro
                                </li>
                                <li>
                                    Mais de 5 consultas em lugares diferentes
                                </li>
                                <li>
                                    Restrição de consumo acima de 500 reais
                                </li>
                                <li>
                                    Restrição bancaria/ títulos protestados
                                </li>
                                <li>
                                    Cliente autônomo abaixo de 25 anos comprando pra terceiros
                                </li>
                                <li>
                                    Renda abaixo de um salário mínimo 
                                </li>
                                <li>
                                    Clientes com doenças neurológicos ex: Alzheimer 
                                </li>
                                <li>
                                    Terceiros fazendo no nome de pessoas incapacitadas
                                </li>
                                <li>
                                    Recompras com menos de duas compras, liberação somete com 50% pago
                                </li>
                            </ul>
                            <hr>
        
                            <h3 class="mb-4 mt-5">Processos que interferem na análise</h3>
                            <ul class="processos">
                                <li>
                                    Telefone errado no cadastro (cliente informa um e o colaborador escreve outro)
                                </li>
                                <li>
                                    Influenciar o cliente a falar uma renda e atividade profissional
                                </li>
                                <li>
                                    Lote de cartão e o colaborador oferecer boleto, sem insistência no cartão
                                </li>
                                <li>
                                    Preencher o cadastro com a renda e atividade profissional correta
                                </li>
                                <li>
                                    Não colocar observações no histórico.
                                </li>
                                <li>
                                    O colaborador não acompanhar o histórico até a liberação do pedido.
                                </li>
                                <li>
                                    Oferecer uma parcela incompatível com a renda do cliente EX: renda 1200 com parcela de 300
                                </li>
                                
                            </ul>
           
                        </div>
                      
                    </div>
                  </div>


                
		
			</div>
		</div>
	</div>

	<%- include ("partials/footer1.ejs"); %>


</body>
</html>