<!DOCTYPE html>
<html lang="pt-br">
<%- include ("partials/head.ejs"); %>
<link rel="stylesheet" type="text/css" href="/css/items-index.css">

<style>
	.container{
		background-color: #fff;
		box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.2);
	}
	.titulo{
		text-align: center;
		padding-top: 10px;
	}
	.atalhos{
		text-align: center;
	}
	.header{
		text-align: center;
		color: rgb(65, 65, 65);
		padding-bottom: 10px;
	}
	.prodName {
		max-height: 50px;
		overflow: hidden;
		text-overflow: ellipsis;
		font-weight:600;
		color: black;
		padding: 1px 5px 0px 5px;
	}	
	.prod{
		box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.3);
		border-radius: 5px;
	}
	.prod:hover{
		box-shadow: 0px 0px 5px 2px rgb(236, 136, 42);
	}
	
</style>
<body>
	<%- include ("partials/header.ejs"); %>

	<div class="limiter">
		<div class="container-table100">			
			<div class="wrap-table100">	
				<div class="titulo">
					<h3 class="titulo-h">Promoção Limpa Estoque</h3>					
				</div>
				<div class="atalhos">
					<a style="color: rgb(255, 255, 255);" class="btn btn-secondary">2 img por R$ 1600</a>
					<a style="color: rgb(255, 255, 255);" class="btn btn-secondary">2 img por R$ 1600</a>
					<a style="color: rgb(255, 255, 255);" class="btn btn-secondary">2 img por R$ 1600</a>
				</div>
				<div class="container ">
					<div class="products" >
						<div class="header">
							<hr>
							<h3>2 imagens por 1600 escolha 1 presente</h3>
							<hr>
						</div>
						<div class="listProd" style="padding: 8px 8px 8px 5px;">
							

							<div class="prod ml-2" style="width: 13rem; display: inline-block;">
								<img style="width: 80px; margin-left: 35%;" src="https://http2.mlstatic.com/D_NQ_NP_668891-MLB44230261954_122020-O.webp" class="card-img-top" alt="...">
								<div class="" style=" height: 50px; padding: 2px; margin: 0;">
									<p class="prodName">Maria Passa na Frente com LED 30cm</p>
								</div>
							</div>

							<div class="prod ml-2" style="width: 13rem; display: inline-block;">
								<img style="width: 80px; margin-left: 35%;" src="https://http2.mlstatic.com/D_NQ_NP_668891-MLB44230261954_122020-O.webp" class="card-img-top" alt="...">
								<div class="" style=" height: 50px; padding: 2px; margin: 0;">
									<p class="prodName">Maria Passa na Frente com LED 30cm</p>
								</div>
							</div>
							<div class="prod ml-2" style="width: 13rem; display: inline-block;">
								<img style="width: 80px; margin-left: 35%;" src="https://http2.mlstatic.com/D_NQ_NP_668891-MLB44230261954_122020-O.webp" class="card-img-top" alt="...">
								<div class="" style=" height: 50px; padding: 2px; margin: 0;">
									<p class="prodName">Maria Passa na Frente com LED 30cm</p>
								</div>
							</div>

							<div class="prod ml-2" style="width: 13rem; display: inline-block;">
								<img style="width: 80px; margin-left: 35%;" src="https://http2.mlstatic.com/D_NQ_NP_668891-MLB44230261954_122020-O.webp" class="card-img-top" alt="...">
								<div class="" style=" height: 50px; padding: 2px; margin: 0;">
									<p class="prodName">Maria Passa na Frente com LED 30cm</p>
								</div>
							</div>

							<div class="prod ml-2" style="width: 13rem; display: inline-block;">
								<img style="width: 80px; margin-left: 35%;" src="https://http2.mlstatic.com/D_NQ_NP_668891-MLB44230261954_122020-O.webp" class="card-img-top" alt="...">
								<div class="" style=" height: 50px; padding: 2px; margin: 0;">
									<p class="prodName">Maria Passa na Frente com LED 30cm</p>
								</div>
							</div>

							<div class="prod ml-2" style="width: 13rem; display: inline-block;">
								<img style="width: 80px; margin-left: 35%;" src="https://http2.mlstatic.com/D_NQ_NP_668891-MLB44230261954_122020-O.webp" class="card-img-top" alt="...">
								<div class="" style=" height: 50px; padding: 2px; margin: 0;">
									<p class="prodName">Maria Passa na Frente com LED 30cm</p>
								</div>
							</div>

							<div class="prod ml-2" style="width: 13rem; display: inline-block;">
								<img style="width: 80px; margin-left: 35%;" src="https://http2.mlstatic.com/D_NQ_NP_668891-MLB44230261954_122020-O.webp" class="card-img-top" alt="...">
								<div class="" style=" height: 50px; padding: 2px; margin: 0;">
									<p class="prodName">Maria Passa na Frente com LED 30cm</p>
								</div>
							</div>

							<div class="prod ml-2" style="width: 13rem; display: inline-block;">
								<img style="width: 80px; margin-left: 35%;" src="https://http2.mlstatic.com/D_NQ_NP_668891-MLB44230261954_122020-O.webp" class="card-img-top" alt="...">
								<div class="" style=" height: 50px; padding: 2px; margin: 0;">
									<p class="prodName">Maria Passa na Frente com LED 30cm</p>
								</div>
							</div>



							  
							  
						 
						</div>
					  </div>
				
					
				</div>

			</div>
		</div>
	</div>
	

	<%- include ("partials/footer1.ejs"); %>


</body>
</html>