<h1>Super</h1>
<br>

<h4>Cadastro de Admin</h4>
<form method="POST" action="create">
    <input type="text" name="name" required placeholder="Informe o nome"><br>
    <input type="email" name="email" required placeholder="Informe o email"><br>
    <select name="nivel">
        <option value="admin">Admin</option>
        <option value="qualidade">Qualidade</option>
        <option value="supervisor">Supervisor</option>
    </select><br>
    <input type="text" name="login" required placeholder="Informe o login"><br>
    <input type="password" name="password" required  placeholder="informe a senha"><br>
    <button type="submit">Submit</button>    
</form>