<!DOCTYPE html>
<html lang="pt-br">
    <%- include ("../../partials/head.ejs"); %>
<link rel="stylesheet" type="text/css" href="/css/items-index.css">
<body>
    <%- include ("../../partials/header-admin.ejs"); %>

	<div class="limiter">
		<div class="container-table100">			
			<div class="wrap-table100">
                <div class="container" style="background-color: seashell; padding: 10px;">
                    <h2 class="mb-3">Glossário da Monitoria</h2>
                    <hr><br>
                    <p class="mb-4"><b>Abordagem/apresentação:</b>	 Apresentar-se adequadamente( Nome e Empresa)</p>
                    <p class="mb-4"><b>Condução do atendimento:</b>	 Posicionamento ao cliente quando se ausentar/ entusiasmo/ clareza/ sorriso na voz/empatia/ segurança nas informações/ vícios de linguagem/objetividade e esculta ativa</p>
                    <p class="mb-4"><b>Conhecimento técnico do produto:</b>	 Apresentar o produto de forma atrativa demonstrando conhecimento ( Características e beneficio)</p>
                    <p class="mb-4"><b>Sondagem/ necessidade:</b>	Identificar as necessidades do cliente (Realizar perguntas abertas de forma assertiva)</p>
                    <p class="mb-4"><b>Argumentação/ quebra de objeções:</b>	  Argumentação assertiva  e criação de cenários</p>
                    <p class="mb-4"><b>Negociação:</b>	Ofertar primeiramente cartão de credito/ esgotar todas as possibilidades de negociação antes de desistir da venda</p>
                    <p class="mb-4"><b>Fechamento/ Poder de decisão:</b>	 Conduzir o cliente ao fechamento no momento oportuno/ poder de decisão</p>
                    <p class="mb-4"><b>Confirmação de dados:</b>	Buscar confirmar todos os dados do cliente para que não haja erros( habito de parafrasear)/ solicitar 2º telefone/ finalizar corretamente o contato</p>
                    <p class="mb-4"><b>Não conformidade Grave:</b>	 Ocultar informações do produto/passar informaçoes improcedentes/ realizar a venda sem a autorizam do cliente/ omissão do atendimento/ser ríspido/ irônico ou utilizar palavras ofensivas/ passar informações confidenciais a terceiros.</p>
                   


                </div>
				
               
				
				
				
			</div>
		</div>
	</div>

	<%- include ("../../partials/footer1.ejs"); %>


</body>
</html>